<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline" #f = "ngForm" (ngSubmit)="searchForFriends()">
      <div class="form-group">
        <input  type="text" class="form-control" [(ngModel)] ="searchStr" placeholder="input for searching"/>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <div>
      <div class="row">
        <div class="column" *ngFor="let person of searchResult">
          <span>{{ person.firstName + ' ' + person.lastName}}</span>
          <button class="btn btn-primary add-friend" (click)="addFriend(person._id)"> Add friend</button>
        </div>
      </div>
    </div>
  </div>
</div>
